.markdown {
  // Nested list styles
  & > ul {
    list-style-type: disc;

    & li > ul {
      list-style-type: circle;

      & li > ul {
        list-style-type: square;

        & li > ul {
          list-style-type: disc;

          & li > ul {
            list-style-type: circle;

            & li > ul {
              list-style-type: square;
            }
          }
        }
      }
    }
  }

  & > ol {
    list-style-type: decimal;

    & li > ol {
      list-style-type: lower-latin;

      & li > ol {
        list-style-type: lower-roman;

        & li > ol {
          list-style-type: decimal;

          & li > ol {
            list-style-type: lower-latin;

            & li > ol {
              list-style-type: lower-roman;
            }
          }
        }
      }
    }
  }

  // margins

  & > *:first-child {
    @reference mt-0;
  }

  & > *:last-child {
    @reference mb-0;
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    @reference mb-4 mt-10;
  }

  & > blockquote {
    @reference my-10;
  }

  & > figure {
    @reference my-10;
  }

  // Select paragraphs that have an adjacent ol or ul
  & > p:has(+ ol),
  & > p:has(+ ul) {
    @reference mb-3;
  }

  // Adjust the margin of list items

  & > ol,
  & > ul {
    & > li {
      @reference my-3;
    }
  }
  // TODO write the css the way we don't have to list all the elements again with :not (?)
  // Set margin for all other elements
  &
    > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(ul):not(ol):not(blockquote):not(
      figure
    ):not(p:has(+ ol)):not(p:has(+ ul)) {
    @reference my-6;
  }
}
