@import 'tailwindcss';

@plugin 'tailwind-scrollbar-hide';
@plugin 'tailwindcss-react-aria-components';
@plugin 'tailwindcss-animate';

@source "../../node_modules/@bratislava/component-library/dist";

/* Docs: https://tailwindcss.com/docs/functions-and-directives */

@theme {
  /* BREAKPOINTS */

  --breakpoint-sm: 40rem; /* 640px  - phone landscape */
  --breakpoint-md: 48rem; /* 768px  - iPad portrait   */
  --breakpoint-lg: 64rem; /* 1024px - iPad landscape  */
  --breakpoint-xl: 80rem; /* 1280px - small desktop   */

  /* COLORS */

  /*
    These variables are used in different pages and component to override
    colors of different things. They are defined as RGB values on purpose
    so they can be used in `rgb(var(--color-main-600))` style or with transparency
    as `rgba(var(--color-main-600), 0.25)`.
  */

  --color-transparent: transparent;
  --color-current: currentColor;

  --color-white: var(--color-grey-0);
  --color-font: var(--color-content-passive-primary);
  --color-font-contrast: var(--color-content-passive-inverted-primary);

  /* Bratislava main red */
  --color-main-800: rgb(147, 37, 27); /*#93251B*/
  --color-main-700: rgb(216, 55, 40); /*#D83728*/
  --color-main-600: rgb(224, 95, 83); /*#E05F53*/
  --color-main-500: rgb(238, 147, 139); /*#EE938B*/
  --color-main-400: rgb(239, 175, 169); /*#EFAFA9*/
  --color-main-300: rgb(243, 195, 191); /*#F3C3BF*/
  --color-main-200: rgb(247, 215, 212); /*#F7D7D4*/
  --color-main-100: rgb(251, 235, 234); /*#FBEBEA*/

  /* Bratislava category colors */
  --color-transport-800: rgb(0, 76, 109); /*#004c6d*/
  --color-transport-700: rgb(0, 95, 136); /*#005f88*/
  --color-transport-600: rgb(51, 127, 160); /*#337fa0*/
  --color-transport-500: rgb(102, 159, 184); /*#669fb8*/
  --color-transport-400: rgb(153, 191, 207); /*#99bfcf*/
  --color-transport-300: rgb(178, 207, 219); /*#b2cfdb*/
  --color-transport-200: rgb(204, 223, 231); /*#ccdfe7*/
  --color-transport-100: rgb(229, 239, 243); /*#e5eff3*/

  --color-environment-800: rgb(0, 83, 18); /*#005312*/
  --color-environment-700: rgb(0, 104, 23); /*#006817*/
  --color-environment-600: rgb(51, 134, 69); /*#338645*/
  --color-environment-500: rgb(102, 164, 116); /*#66a474*/
  --color-environment-400: rgb(153, 195, 162); /*#99c3a2*/
  --color-environment-300: rgb(178, 210, 185); /*#b2d2b9*/
  --color-environment-200: rgb(204, 225, 209); /*#cce1d1*/
  --color-environment-100: rgb(229, 240, 232); /*#e5f0e8*/

  --color-social-800: rgb(193, 147, 38); /*#c19326*/
  --color-social-700: rgb(241, 184, 48); /*#f1b830*/
  --color-social-600: rgb(244, 198, 89); /*#f4c659*/
  --color-social-500: rgb(247, 212, 131); /*#f7d483*/
  --color-social-400: rgb(249, 227, 172); /*#f9e3ac*/
  --color-social-300: rgb(251, 234, 193); /*#fbeac1*/
  --color-social-200: rgb(252, 241, 214); /*#fcf1d6*/
  --color-social-100: rgb(254, 248, 234); /*#fef8ea*/

  --color-education-800: rgb(54, 58, 136); /*#363a88*/
  --color-education-700: rgb(67, 73, 170); /*#4349aa*/
  --color-education-600: rgb(105, 109, 187); /*#696dbb*/
  --color-education-500: rgb(142, 146, 204); /*#8e92cc*/
  --color-education-400: rgb(180, 182, 221); /*#b4b6dd*/
  --color-education-300: rgb(199, 200, 229); /*#c7c8e5*/
  --color-education-200: rgb(217, 219, 238); /*#d9dbee*/
  --color-education-100: rgb(236, 237, 246); /*#ecedf6*/

  --color-culture-800: rgb(189, 114, 46); /*#bd722e*/
  --color-culture-700: rgb(236, 143, 57); /*#ec8f39*/
  --color-culture-600: rgb(240, 165, 97); /*#f0a561*/
  --color-culture-500: rgb(244, 188, 136); /*#f4bc88*/
  --color-culture-400: rgb(247, 210, 176); /*#f7d2b0*/
  --color-culture-300: rgb(249, 221, 196); /*#f9ddc4*/
  --color-culture-200: rgb(251, 233, 215); /*#fbe9d7*/
  --color-culture-100: rgb(253, 244, 235); /*#fdf4eb*/

  --color-grey-800: rgb(31, 31, 31); /*#1F1F1F*/
  --color-grey-700: rgb(51, 51, 51); /*#333333*/
  --color-grey-600: rgb(92, 92, 92); /*#5C5C5C*/
  --color-grey-500: rgb(133, 133, 133); /*#858585*/
  --color-grey-400: rgb(173, 173, 173); /*#ADADAD*/
  --color-grey-300: rgb(194, 194, 194); /*#C2C2C2*/
  --color-grey-200: rgb(214, 214, 214); /*#D6D6D6*/
  --color-grey-100: rgb(235, 235, 235); /*#EBEBEB*/
  --color-grey-50: rgb(245, 245, 245); /*#F5F5F5*/
  --color-grey-0: rgb(255, 255, 255); /*#fff*/

  --color-success-800: rgb(1, 90, 41); /*#015A29*/
  --color-success-700: rgb(1, 132, 61); /*#01843D*/
  --color-success-600: rgb(52, 157, 100); /*#349D64*/
  --color-success-500: rgb(103, 181, 139); /*#67B58B*/
  --color-success-400: rgb(153, 206, 177); /*#99CEB1*/
  --color-success-300: rgb(179, 218, 197); /*#B3DAC5*/
  --color-success-200: rgb(204, 230, 216); /*#CCE6D8*/
  --color-success-100: rgb(230, 243, 236); /*#E6F3EC*/
  --color-success-50: rgb(242, 249, 245); /*#F2F9F5*/

  --color-negative-800: rgb(141, 0, 0); /*#8D0000*/
  --color-negative-700: rgb(208, 0, 0); /*#D00000*/
  --color-negative-600: rgb(218, 51, 51); /*#DA3333*/
  --color-negative-500: rgb(227, 102, 102); /*#E36666*/
  --color-negative-400: rgb(236, 153, 153); /*#EC9999*/
  --color-negative-300: rgb(241, 178, 178); /*#F1B2B2*/
  --color-negative-200: rgb(246, 204, 204); /*#F6CCCC*/
  --color-negative-100: rgb(250, 229, 229); /*#FAE5E5*/
  --color-negative-50: rgb(253, 242, 242); /*#FDF2F2*/

  --color-warning-800: rgb(152, 84, 3); /*#985403*/
  --color-warning-700: rgb(224, 123, 4); /*#E07B04*/
  --color-warning-600: rgb(230, 149, 54); /*#E69536*/
  --color-warning-500: rgb(236, 176, 104); /*#ECB068*/
  --color-warning-400: rgb(243, 202, 155); /*#F3CA9B*/
  --color-warning-300: rgb(246, 215, 180); /*#F6D7B4*/
  --color-warning-200: rgb(249, 229, 205); /*#F9E5CD*/
  --color-warning-100: rgb(252, 242, 230); /*#FCF2E6*/
  --color-warning-50: rgb(253, 248, 242); /*#FDF8F2*/

  /* These variables are overridden in pages to get custom colors for each category */
  --color-category-800: var(--color-main-800);
  --color-category-700: var(--color-main-700);
  --color-category-600: var(--color-main-600);
  --color-category-500: var(--color-main-500);
  --color-category-400: var(--color-main-400);
  --color-category-300: var(--color-main-300);
  --color-category-200: var(--color-main-200);
  --color-category-100: var(--color-main-100);

  /* New tokens - border */

  --color-border-error: var(--color-negative-700);
  --color-border-success: var(--color-success-700);
  --color-border-warning: var(--color-warning-700);

  --color-border-passive-primary: var(--color-grey-200);
  --color-border-passive-secondary: var(--color-grey-transparent);

  --color-border-active-default: var(--color-grey-200);
  --color-border-active-hover: var(--color-grey-300);
  --color-border-active-disabled: var(--color-grey-300);
  --color-border-active-focused: var(--color-grey-700);
  --color-border-active-inverted-default: var(--color-grey-600);
  --color-border-active-inverted-hover: var(--color-grey-500);

  --color-border-active-primary-default: var(--color-grey-700);
  --color-border-active-primary-hover: var(--color-grey-600);
  --color-border-active-primary-pressed: var(--color-grey-800);
  --color-border-active-primary-inverted-default: var(--color-grey-0);
  --color-border-active-primary-inverted-hover: var(--color-grey-200);
  --color-border-active-primary-inverted-pressed: var(--color-grey-300);

  --color-border-active-secondary-default: var(--color-grey-700);
  --color-border-active-secondary-hover: var(--color-grey-600);
  --color-border-active-secondary-pressed: var(--color-grey-800);
  --color-border-active-secondary-inverted-default: var(--color-grey-0);
  --color-border-active-secondary-inverted-hover: var(--color-grey-200);
  --color-border-active-secondary-inverted-pressed: var(--color-grey-300);

  --color-border-active-tertiary-default: var(--color-grey-200);
  --color-border-active-tertiary-hover: var(--color-grey-400);
  --color-border-active-tertiary-pressed: var(--color-grey-500);
  --color-border-active-tertiary-inverted-default: var(--color-grey-600);
  --color-border-active-tertiary-inverted-hover: var(--color-grey-500);
  --color-border-active-tertiary-inverted-pressed: var(--color-grey-400);

  /* New tokens - background */

  --color-background-error-default: var(--color-negative-700);
  --color-background-error-hover: var(--color-negative-600);
  --color-background-error-pressed: var(--color-negative-800);
  --color-background-error-soft-default: var(--color-negative-100);
  --color-background-error-soft-hover: var(--color-negative-200);
  --color-background-error-soft-pressed: var(--color-negative-300);

  --color-background-warning-default: var(--color-warning-700);
  --color-background-warning-soft-default: var(--color-warning-100);

  --color-background-success-default: var(--color-success-700);
  --color-background-success-soft-default: var(--color-success-100);

  --color-background-passive-base: var(--color-grey-0);
  --color-background-passive-primary: var(--color-grey-50);
  --color-background-passive-secondary: var(--color-grey-100);
  --color-background-passive-tertiary: var(--color-grey-200);
  --color-background-passive-inverted-base: var(--color-grey-800);

  --color-background-active-primary-default: var(--color-grey-700);
  --color-background-active-primary-hover: var(--color-grey-600);
  --color-background-active-primary-pressed: var(--color-grey-800);
  --color-background-active-primary-inverted-default: var(--color-grey-0);
  --color-background-active-primary-inverted-hover: var(--color-grey-100);
  --color-background-active-primary-inverted-pressed: var(--color-grey-200);
  --color-background-active-primary-soft-default: var(--color-grey-transparent);
  --color-background-active-primary-soft-hover: var(--color-grey-100);
  --color-background-active-primary-soft-pressed: var(--color-grey-200);
  --color-background-active-primary-soft-inverted-default: var(--color-grey-transparent);
  --color-background-active-primary-soft-inverted-hover: var(--color-grey-600);
  --color-background-active-primary-soft-inverted-pressed: var(--color-grey-500);
  /* active secondary and tertiary variants are part of DS but not used currently  */

  --color-content-error-default: var(--color-negative-700);
  --color-content-error-hover: var(--color-negative-600);
  --color-content-error-pressed: var(--color-negative-800);
  --color-content-warning-default: var(--color-warning-700);
  --color-content-success-default: var(--color-success-700);

  --color-content-passive-primary: var(--color-grey-800);
  --color-content-passive-secondary: var(--color-grey-700);
  --color-content-passive-tertiary: var(--color-grey-600);
  --color-content-passive-inverted-primary: var(--color-grey-0);
  --color-content-passive-inverted-secondary: var(--color-grey-200);
  --color-content-passive-inverted-tertiary: var(--color-grey-400);

  --color-content-active-primary-default: var(--color-grey-700);
  --color-content-active-primary-hover: var(--color-grey-600);
  --color-content-active-primary-pressed: var(--color-grey-800);
  --color-content-active-primary-disabled: var(--color-grey-500);
  --color-content-active-primary-inverted-default: var(--color-grey-0);
  --color-content-active-primary-inverted-hover: var(--color-grey-200);
  --color-content-active-primary-inverted-pressed: var(--color-grey-300);
  --color-content-active-primary-inverted-disabled: var(--color-grey-400);
  /* active secondary and tertiary variants are part of DS but not used currently  */

  /* Old tokens - todo remove */

  --color-background-primary: var(--color-grey-0);
  --color-background-secondary: var(--color-grey-50);
  --color-background-tertiary: var(--color-grey-100);
  --color-background-primary-inverted: var(--color-grey-800);
  --color-background-disabled: var(--color-grey-100);

  --color-border-default: var(--color-grey-200);
  --color-border-hover: var(--color-grey-300);
  --color-border-dark: var(--color-grey-600); /* TODO what is this? */

  --color-content-primary: var(--color-grey-800);
  --color-content-secondary: var(--color-grey-700);
  --color-content-tertiary: var(--color-grey-600);
  --color-content-primary-inverted: var(--color-grey-0);
  --color-content-secondary-inverted: var(--color-grey-200);
  --color-content-tertiary-inverted: var(--color-grey-400);
  --color-content-disabled: var(--color-grey-500);

  --color-content-link-default: var(--color-grey-700);
  --color-content-link-hover: var(--color-grey-600);
  --color-content-link-pressed: var(--color-grey-800);

  --color-action-content-default: var(--color-grey-700);
  --color-action-content-hover: var(--color-grey-600);
  --color-action-content-pressed: var(--color-grey-800);
  --color-action-background-default: var(--color-grey-700);
  --color-action-background-hover: var(--color-grey-600);
  --color-action-background-pressed: var(--color-grey-800);
  --color-action-soft-background-hover: var(--color-grey-100);
  --color-action-soft-background-pressed: var(--color-grey-200);
  --color-action-border-default: var(--color-grey-700);
  --color-action-border-hover: var(--color-grey-600);
  --color-action-border-pressed: var(--color-grey-800);

  /* Shadows */

  --shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  --shadow-sm: 0px 2px 8px rgba(0, 0, 0, 0.12);
  --shadow-md: 0px 80px 16px rgba(0, 0, 0, 0.12);
  --shadow-lg: 0px 16px 24px rgba(0, 0, 0, 0.12);

  /* Font - weight, size, line height */

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --text-h1-hero: 3.5rem; /* 56px */
  --leading-h1-hero: 4rem; /* 64px */
  --text-h1-hero-r: 2rem; /* 32px */
  --leading-h1-hero-r: 2.5rem; /* 40px */

  --text-h1: 2.5rem; /* 40px */
  --leading-h1: 3rem; /* 48px */
  --text-h1-r: 1.75rem; /* 28px */
  --leading-h1-r: 2.25rem; /* 36px */

  --text-h2: 2rem; /* 32px */
  --leading-h2: 2.5rem; /* 40px */
  --text-h2-r: 1.5rem; /* 24px */
  --leading-h2-r: 2rem; /* 32px */

  --text-h3: 1.75rem; /* 28px */
  --leading-h3: 2.25rem; /* 36px */
  --text-h3-r: 1.25rem; /* 20px */
  --leading-h3-r: 1.75rem; /* 28px */

  --text-h4: 1.5rem; /* 24px */
  --leading-h4: 2rem; /* 32px */
  --text-h4-r: 1.125rem; /* 18px */
  --leading-h4-r: 1.625rem; /* 26px */

  --text-h5: 1.25rem; /* 20px */
  --leading-h5: 1.75rem; /* 28px */
  --text-h5-r: 1rem; /* 16px */
  --leading-h5-r: 1.5rem; /* 24px */

  --text-h6: 1rem; /* 16px */
  --leading-h6: 1.5rem; /* 24px */
  --text-h6-r: 1rem; /* 16px */
  --leading-h6-r: 1.5rem; /* 24px */

  --text-p-large: 1.25rem; /* 20px */
  --leading-p-large: 1.75rem; /* 28px */
  --text-p-large-r: 1.125rem; /* 18px */
  --leading-p-large-r: 1.75rem; /* 28px */

  --text-p-default: 1.125rem; /* 18px */
  --leading-p-default: 1.75rem; /* 28px */
  --text-p-default-r: 1rem; /* 16px */
  --leading-p-default-r: 1.5rem; /* 24px */

  --text-p-small: 1rem; /* 16px */
  --leading-p-small: 1.5rem; /* 24px */

  --text-p-tiny: 0.875rem; /* 14px */
  --leading-p-tiny: 1.25rem; /* 20px */

  --text-button-large: 1rem; /* 16px */
  --leading-button-large: 1.5rem; /* 24px */

  --text-button-default: 0.875rem; /* 14px */
  --leading-button-default: 1.5rem; /* 24px */

  /* ANIMATIONS */

  --animate-scale-in: scaleIn 200ms ease;
  --animate-scale-out: scaleOut 200ms ease;
  --animate-fade-in: fadeIn 200ms ease;
  --animate-fade-out: fadeOut 200ms ease;
  --animate-enter-from-left: enterFromLeft 250ms ease;
  --animate-enter-from-right: enterFromRight 250ms ease;
  --animate-exit-to-left: exitToLeft 250ms ease;
  --animate-exit-to-right: exitToRight 250ms ease;
  --animate-enter-from-top: enterFromTop 250ms ease;
  --animate-scale-y: scaleY 250ms ease;
}

@layer base {
  body {
    @apply text-font antialiased;
    font-family: 'Inter', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  /* ANIMATIONS */

  @keyframes enterFromRight {
    from {
      opacity: 0;
      transform: 'translateX(200px)';
    }
    to {
      opacity: 1;
      transform: 'translateX(0)';
    }
  }
  @keyframes enterFromLeft {
    from {
      opacity: 0;
      transform: 'translateX(-200px)';
    }
    to {
      opacity: 1;
      transform: 'translateX(0)';
    }
  }
  @keyframes exitToRight {
    from {
      opacity: 1;
      transform: 'translateX(0)';
    }
    to {
      opacity: 0;
      transform: 'translateX(200px)';
    }
  }
  @keyframes exitToLeft {
    from {
      opacity: 1;
      transform: 'translateX(0)';
    }
    to {
      opacity: 0;
      transform: 'translateX(-200px)';
    }
  }
  @keyframes enterFromTop {
    from {
      opacity: 0;
      transform: 'translateY(-200px)';
    }
    to {
      opacity: 1;
      transform: 'translateY(0)';
    }
  }
  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: 'rotateX(-10deg) scale(0.9)';
    }
    to {
      opacity: 1;
      transform: 'rotateX(0deg) scale(1)';
    }
  }
  @keyframes scaleOut {
    from {
      opacity: 1;
      transform: 'rotateX(0deg) scale(1)';
    }
    to {
      opacity: 0;
      transform: 'rotateX(-10deg) scale(0.95)';
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes scaleY {
    from {
      opacity: 0;
      transform: 'scaleY(0)';
    }
    to {
      opacity: 1;
      transform: 'scaleY(1)';
    }
  }

  /* TAILWIND OVERRIDES */

  /* Set default border color: https://tailwindcss.com/docs/upgrade-guide#default-border-color */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border-passive-primary);
  }

  /* button cursor is not set to pointer on default in Tailwind v4, we do it manually */
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  .markdown {
    /* Nested list styles */
    & > ul {
      list-style-type: disc;

      & li > ul {
        list-style-type: circle;

        & li > ul {
          list-style-type: square;

          & li > ul {
            list-style-type: disc;

            & li > ul {
              list-style-type: circle;

              & li > ul {
                list-style-type: square;
              }
            }
          }
        }
      }
    }

    & > ol {
      list-style-type: decimal;

      & li > ol {
        list-style-type: lower-latin;

        & li > ol {
          list-style-type: lower-roman;

          & li > ol {
            list-style-type: decimal;

            & li > ol {
              list-style-type: lower-latin;

              & li > ol {
                list-style-type: lower-roman;
              }
            }
          }
        }
      }
    }

    /* margins */

    & > *:first-child {
      @apply mt-0;
    }

    & > *:last-child {
      @apply mb-0;
    }

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      @apply mt-10 mb-4;
    }

    & > blockquote {
      @apply my-10;
    }

    & > figure {
      @apply my-10;
    }

    /* Select paragraphs that have an adjacent ol or ul */
    & > p:has(+ ol),
    & > p:has(+ ul) {
      @apply mb-3;
    }

    /* Adjust the margin of list items */

    & > ol,
    & > ul {
      & > li {
        @apply my-3;
      }
    }
    /* TODO write the css the way we don't have to list all the elements again with :not (?) */
    /* Set margin for all other elements */
    &
      > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(ul):not(ol):not(blockquote):not(
        figure
      ):not(p:has(+ ol)):not(p:has(+ ul)) {
      @apply my-6;
    }
  }

  .modal-close-mobile-right {
    right: 45%;
  }

  .modal-content-rent::-webkit-scrollbar {
    display: none;
  }

  .modal-content-rent {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .modal-content-rent-markdown ul {
    @apply my-6 list-disc pl-12;
  }

  .modal-content-rent-markdown ol {
    @apply my-6 list-decimal pl-12;
  }

  .modal-content-rent-markdown p {
    @apply mb-4;
  }

  .modal-content-rent-markdown h1,
  .modal-content-rent-markdown h2,
  .modal-content-rent-markdown h3,
  .modal-content-rent-markdown h4,
  .modal-content-rent-markdown h5,
  .modal-content-rent-markdown h6 {
    @apply my-6 font-bold;
  }

  .modal-content-rent-markdown h1 {
    font-size: 2rem;
  }

  .modal-content-rent-markdown h2 {
    font-size: 1.5rem;
  }

  .modal-content-rent-markdown h3 {
    font-size: 1.17rem;
  }

  .modal-content-rent-markdown h4 {
    font-size: 1rem;
  }

  .modal-content-rent-markdown h5 {
    font-size: 0.83rem;
  }

  .modal-content-rent-markdown h6 {
    font-size: 0.67rem;
  }

  .modal-content-rent-markdown a {
    @apply font-bold underline;
  }

  .text-title-center h1,
  .text-title-center h2,
  .text-title-center h3,
  .text-title-center h4,
  .text-title-center h5,
  .text-title-center h6 {
    @apply mb-6 text-center;
  }

  .inner-list .inner-list .rounded-full {
    @apply bg-transparent;
  }

  button[data-state='open'] > svg {
    display: block;
  }

  button[data-state='closed'] > svg {
    display: none;
  }

  .closebutton .ml-5 {
    margin-left: 0 !important;
  }

  /* input type number control remove */
  .number-control-none::-webkit-outer-spin-button,
  .number-control-none::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .number-control-none {
    -moz-appearance: textfield;
  }

  .base-input {
    @apply box-border inline-block h-14 appearance-none rounded-[10] border-3 px-6 py-0 font-medium text-font;
    @apply border-white bg-white hover:border-category-600 focus:border-category-600 focus:outline-none;
  }

  .base-input--with-error {
    @apply border-border-error;
  }

  .base-input--disabled {
    @apply bg-grey-100;
  }

  .form-group label.control-label {
    display: none;
  }

  /* styles for vertical timeline */
  @media (max-width: 1170px) {
    .vertical-timeline-element.vertical-timeline-element--with-image {
      margin-top: 300px;
    }
  }
}

/* UTILITIES - text */

@utility text-size-h1-hero {
  @apply text-h1-hero leading-h1-hero;
}

@utility text-size-h1-hero-r {
  @apply text-h1-hero-r leading-h1-hero-r;
}

@utility text-size-h1 {
  @apply text-h1 leading-h1;
}

@utility text-size-h1-r {
  @apply text-h1-r leading-h1-r;
}

@utility text-size-h2 {
  @apply text-h2 leading-h2;
}

@utility text-size-h2-r {
  @apply text-h2-r leading-h2-r;
}

@utility text-size-h3 {
  @apply text-h3 leading-h3;
}

@utility text-size-h3-r {
  @apply text-h3-r leading-h3-r;
}

@utility text-size-h4 {
  @apply text-h4 leading-h4;
}

@utility text-size-h4-r {
  @apply text-h4-r leading-h4-r;
}

@utility text-size-h5 {
  @apply text-h5 leading-h5;
}

@utility text-size-h5-r {
  @apply text-h5-r leading-h5-r;
}

@utility text-size-h6 {
  @apply text-h6 leading-h6;
}

@utility text-size-h6-r {
  @apply text-h6-r leading-h6-r;
}

@utility text-size-p-large {
  @apply text-p-large leading-p-large;
}

@utility text-size-p-large-r {
  @apply text-p-large-r leading-p-large-r;
}

@utility text-size-p-default {
  @apply text-p-default leading-p-default;
}

@utility text-size-p-default-r {
  @apply text-p-default-r leading-p-default-r;
}

@utility text-size-p-small {
  @apply text-p-small leading-p-small;
}

@utility text-size-p-tiny {
  @apply text-p-tiny leading-p-tiny;
}

@utility text-size-button-large {
  @apply text-button-large leading-button-large;
}

@utility text-size-button-default {
  @apply text-button-default leading-button-default;
}

/* UTILITIES - other */

@utility negative-x-spacing {
  @apply -mx-4 px-4;
}

/* NATIVE STYLE OVERRIDES */

/* Remove native Safari arrows in accordions  */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

/* Remove arrows from input type='number' */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  /* Firefox */
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Move safari key icon to the left for fields with type password */
/*noinspection CssInvalidPseudoSelector*/
input[type='password']::-webkit-credentials-auto-fill-button {
  @apply mr-8;
}

/* Move safari 'Strong password' to the left for fields with type password */
/*noinspection CssInvalidPseudoSelector*/
input[type='password']::-webkit-strong-password-auto-fill-button {
  @apply mr-8 pb-2;
}

/* Override default styling for autofilled form fields */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/**
 * Remove X button and decorations in native search input
 * https://github.com/tailwindlabs/tailwindcss/discussions/10190#discussioncomment-4994363
 *
 * Similar styles are used also in RAC example styling
 * https://react-spectrum.adobe.com/react-aria/SearchField.html#example
 */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
