@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /*
    These variables are used in different pages and component to override
    colors of different things. They are defined as RGB values on purpose
    so they can be used in `rgb(var(--color-red))` style or with transparency
    as `rgba(var(--color-red), 0.25)`.
  */
  --color-red: 228, 96, 84; /* #E46054 */
  --color-red--light: 248, 215, 212; /* #F8D7D4 */
  --color-red--dark: 147, 61, 53; /* #933D35 */
  --color-blue: 15, 109, 149; /* #0F6D95 */
  --color-blue--light: 208, 236, 248; /* #D0ECF8 */
  --color-blue--dark: 0, 95, 136;
  --color-green: 35, 124, 54; /* #237C36 */
  --color-green--light: 196, 239, 206; /* #C4EFCE */
  --color-green--dark: 0, 104, 23;
  --color-yellow: 241, 184, 48; /* #F1B830 */
  --color-yellow--light: 255, 231, 129; /* #FFE781 */
  --color-yellow--dark: 241, 184, 48; /* #E3A612 */
  --color-purple: 81, 88, 216; /* #5158D8 */
  --color-purple--light: 199, 202, 255; /* #C7CAFF */
  --color-purple--dark: 67, 73, 170;
  --color-brown: 224, 125, 33; /* #E07D21 */
  --color-brown--light: 255, 203, 155; /* #FFCB9B */
  --color-brown--dark: 255, 176, 103;

  /* These variables are overidden in pages to get custom colors for each category */
  --color-primary: var(--color-red);
  --color-secondary: var(--color-red--light);
  --color-tertiary: var(--color-red--dark);

  /* default tailwind colors */
  --primary-color: rgb(var(--color-primary));
  --primary-color--transparent: rgb(var(--color-primary));
  --secondary-color: rgb(var(--color-secondary));
  --secondary-color--transparent: rgba(var(--color-secondary), 0);
  --secondary-color--semi-transparent: rgba(var(--color-secondary), 0.6);
  --tertiary-color: rgb(var(--color-tertiary));
  --font-color: #333;
  --error-color: #D00000;
  /* --dark-gray-color: #333333bf;
  --universal-gray-100: #EBEBEB;
  --universal-gray-200: #c4c4c4;
  --universal-gray-400: #ADADAD;
  --universal-gray-500: #9f9f9f;
  --universal-gray-600: #5C5C5C;
  --universal-gray-700: #333333;
  --universal-gray-800: #585757;
  --universal-black: #2f2f2f;
  --input-nav-background-color: #fff;
  --off-white-color: #fafafa;
  --background-color: #f5f5f5;
  --input-stroke-color: rgba(var(--color-primary), 0.5);
  --universal-red-800: #873c35;
  --universal-red-500: #d71920;
  --universal-red-300: #f23005; */
  /* --light-gray-color: rgba(51, 51, 51, 0.5);
  --superlight-red-color: rgba(var(--color-red--light), 0.35); */
  /* --purple-color: #704b9d;  */
}

body {
  -webkit-font-smoothing: antialiased;
  color: #333;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.base-input {
  @apply appearance-none box-border inline-block border-3 px-6 py-0 text-font rounded-10 font-medium h-14;
  @apply bg-white border-white focus:outline-none focus:border-primary hover:border-primary;
}

.base-input--with-error {
  @apply border-error;
}

.base-input--disabled {
  @apply bg-gray-100;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--input-nav-background-color) inset !important;
}
