@tailwind base;
@tailwind components;
@tailwind utilities;

/* an example of importing shared css from ui project */
/* @import "@bratislava/ui-bratislava/common.css"; */

@import './bratislava.css';
@import './typography.css';

@layer components {
  .numerical-list ul {
    @apply flex flex-col;
  }

  .numerical-list ul li::before {
    @apply mr-6 -ml-12 h-4 w-4 rounded-full bg-category-600 lg:ml-6;
    content: '';
    min-width: 16px;
  }

  .numerical-list ul li {
    @apply flex items-center py-4;
  }

  .numerical-list-hidden ul li {
    @apply hidden;
  }

  .blog-card-image {
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  }

  .modal-close-mobile-right {
    right: 45%;
  }

  .modal-content-rent::-webkit-scrollbar {
    display: none;
  }

  .modal-content-rent {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .rent-shadow {
    boxshadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
  }

  .modal-content-rent-markdown ul {
    @apply my-6 list-disc pl-12;
  }

  .modal-content-rent-markdown ol {
    @apply my-6 list-decimal pl-12;
  }

  .modal-content-rent-markdown p {
    @apply mb-4;
  }

  .modal-content-rent-markdown h1,
  .modal-content-rent-markdown h2,
  .modal-content-rent-markdown h3,
  .modal-content-rent-markdown h4,
  .modal-content-rent-markdown h5,
  .modal-content-rent-markdown h6 {
    @apply my-6 font-bold;
  }

  .modal-content-rent-markdown h1 {
    font-size: 2rem;
  }

  .modal-content-rent-markdown h2 {
    font-size: 1.5rem;
  }

  .modal-content-rent-markdown h3 {
    font-size: 1.17rem;
  }

  .modal-content-rent-markdown h4 {
    font-size: 1rem;
  }

  .modal-content-rent-markdown h5 {
    font-size: 0.83rem;
  }

  .modal-content-rent-markdown h6 {
    font-size: 0.67rem;
  }

  .box-none {
    @apply shadow-none md:shadow-lg;
  }

  .org-structure-list-circle {
    @apply h-6 w-6 rounded-full;
    min-width: 24px;
  }

  .listitem .typography-regular {
    @apply text-p-sm lg:text-p-base;
  }

  .text-title-center h1,
  .text-title-center h2,
  .text-title-center h3,
  .text-title-center h4,
  .text-title-center h5,
  .text-title-center h6 {
    @apply mb-6 text-center;
  }

  .inner-list .inner-list .rounded-full {
    @apply bg-transparent;
  }

  button[data-state='open'] > svg {
    display: block;
  }

  button[data-state='closed'] > svg {
    display: none;
  }
}

.closebutton .ml-5 {
  margin-left: 0 !important;
}

.iconBackground .rounded-full {
  @apply bg-white !important;
}

.modal-content-rent-markdown a {
  @apply font-bold underline;
}

/* width */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply rounded-2xl bg-transparent;
  }
}

/* input type number control remove */
.number-control-none::-webkit-outer-spin-button,
.number-control-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-control-none {
  -moz-appearance: textfield;
}

/* @screen maxMd {
  ::-webkit-scrollbar {
    @apply h-1.5 w-0;
  }

  Track
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  Handle
  ::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }

  Handle on hover
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-transparent rounded-2xl;
  }

  .homepage-markdown .no-whitespace-wrap {
    @apply overflow-x-scroll -mx-8 lg:mx-0 px-8 lg:px-0;
  }
} */

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
