@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* an example of importing shared css from ui project */
/* @import "@bratislava/ui-bratislava/common.css"; */

@import './bratislava.css';

@layer components {
  /* THESE SHOULD COVER ALL FONT VARIANTS ON PAGE */
  /* if you feel a different variant is needed, please contact desing/product beforehand */

  .typography-h1-extra-large {
    @apply text-xxxl font-bold;
  }

  .typography-h1 {
    @apply text-2xl font-bold;
  }

  .typography-h2 {
    @apply text-md lg:text-lg font-semibold;
  }

  .typography-h3 {
    @apply text-default lg:text-md font-medium;
  }

  .typography-h4 {
    @apply text-sm lg:text-default font-medium;
  }

  .typography-tab {
    @apply text-default lg:text-md font-normal;
  }

  .typography-dense {
    @apply text-sm lg:text-default font-medium;
  }

  .typography-highlight {
    @apply text-sm lg:text-default font-semibold;
  }

  .typography-link {
    @apply text-sm lg:text-default font-semibold underline;
  }

  .typography-subheadline {
    @apply text-sm lg:text-default font-medium;
  }

  .typography-regular {
    @apply text-sm lg:text-default font-normal;
  }

  .typography-highlight-sm {
    @apply text-sm font-semibold;
  }

  .typography-link-sm {
    @apply text-sm font-semibold underline;
  }

  .typography-tag-label {
    @apply text-sm font-medium;
  }

  .typography-sm {
    @apply text-sm font-normal;
  }

  .typography-xs {
    @apply text-xs font-normal;
  }

  .base-button {
    @apply appearance-none inline-flex items-center justify-center text-center focus:outline-none bg-primary;
    @apply shadow-lg font-medium text-white text-lg;
  }
  .homepage-markdown ul {
    @apply ml-6 -mt-4 list-outside list-none;
  }
  .homepage-markdown ul li::before {
    @apply absolute left-1 top-2 w-4 h-4 bg-primary rounded-full;
    /* use before to style it */
    content: '';
  }
  .homepage-markdown ul li {
    @apply relative list-none pl-18 -my-2;
  }
  .homepage-markdown ul li ul {
    @apply ml-14 mt-1 -mb-8;
  }
  .homepage-markdown ul li ul li::before {
    @apply absolute left-1 top-2 bg-transparent w-4 h-4 inline-block rounded-full border-4 border-primary;
    /* use before to style it */
    content: '';
  }
  .homepage-markdown .no-whitespace-wrap {
    @apply whitespace-normal;
  }
  .numerical-list ul {
    @apply flex flex-col;
  }
  .numerical-list ul li::before {
    @apply w-4 h-4 bg-primary rounded-full mr-6 -ml-12 lg:ml-6;
    content: '';
    min-width: 16px;
  }
  .numerical-list ul li {
    @apply py-4 flex items-center;
  }
  .numerical-list-hidden ul li {
    @apply hidden;
  }
  .blog-card-image {
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  }
  .news-small-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  .text-truncate-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  .modal-close-mobile-right {
    right: 45%;
  }
  .modal-content-rent::-webkit-scrollbar {
    display: none;
  }
  .modal-content-rent {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .rent-shadow {
    boxshadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
  }
  /*.modal-content-rent-markdown ul {
    @apply ml-6 mt-4 list-outside list-none;
  }
  .modal-content-rent-markdown ul li::before {
    @apply absolute left-1 top-1 w-4 h-4 bg-primary rounded-full;
    content: '';
  }
  .modal-content-rent-markdown ul li {
    @apply relative list-none pl-18 my-2;
  }
  .modal-content-rent-markdown ul li ul {
    @apply ml-14 mt-1 -mb-8;
  }
  .modal-content-rent-markdown ul li ul li::before {
    @apply absolute left-1 top-1 bg-transparent w-4 h-4 inline-block rounded-full border-4 border-primary;
    content: '';
  }
  .modal-content-rent-markdown .no-whitespace-wrap {
    @apply whitespace-normal;
  }
  .modal-content-rent-markdown ol {
    @apply ml-12 mt-4 list-outside;
  }
  .modal-content-rent-markdown ol li {
    @apply relative list-decimal pl-12 my-2;
  }
  .modal-content-rent-markdown ol li ol {
    @apply ml-18 mt-1 -mb-8;
  }
  */

  .modal-content-rent-markdown ul {
    @apply my-6 pl-12 list-disc;
  }
  .modal-content-rent-markdown ol {
    @apply my-6 pl-12 list-decimal;
  }
  .modal-content-rent-markdown p {
    @apply mb-4;
  }
  .modal-content-rent-markdown h1,
  .modal-content-rent-markdown h2,
  .modal-content-rent-markdown h3,
  .modal-content-rent-markdown h4,
  .modal-content-rent-markdown h5,
  .modal-content-rent-markdown h6 {
    @apply my-6 font-bold;
  }
  .modal-content-rent-markdown h1 {
    font-size: 2rem;
  }
  .modal-content-rent-markdown h2 {
    font-size: 1.5rem;
  }
  .modal-content-rent-markdown h3 {
    font-size: 1.17rem;
  }
  .modal-content-rent-markdown h4 {
    font-size: 1rem;
  }
  .modal-content-rent-markdown h5 {
    font-size: 0.83rem;
  }
  .modal-content-rent-markdown h6 {
    font-size: 0.67rem;
  }
  .narrow-text-wrapper ul {
    @apply -my-8;
  }
  .narrow-text-wrapper ul li ul {
    @apply mt-0 -mb-12;
  }
  .box-none {
    @apply shadow-none md:shadow-lg;
  }

  .listitem .typography-regular {
    @apply text-sm lg:text-default;

  }

  .line-clamp-4 {
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  .line-clamp-2 {
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  .text-title-center h1,
  .text-title-center h2,
  .text-title-center h3,
  .text-title-center h4 {
    @apply text-center mb-6;
  }

  .fontSize-base .typography-regular {
    @apply text-base leading-7;
  }

  .inner-list .inner-list .rounded-full {
    @apply bg-transparent;
  }
}

.closebutton .ml-5 {
  margin-left: 0 !important;
}

.iconBackground .rounded-full {
  @apply bg-white !important;
}

.table-block tbody tr td:first-child div {
  @apply text-default font-semibold;
}

.modal-content-rent-markdown a{
  @apply underline font-bold;
}

/* width */

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  ::-webkit-scrollbar {
    @apply h-1.5 w-0;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-transparent rounded-2xl;
  }
}

/* input type number control remove */
.number-control-none::-webkit-outer-spin-button,
.number-control-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number-control-none {
  -moz-appearance: textfield;
}

.header-main-bg {
  @apply bg-right bg-cover  !important;
}

@screen maxMd {
  ::-webkit-scrollbar {
    @apply h-1.5 w-0;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-transparent rounded-2xl;
  }

  .homepage-markdown .no-whitespace-wrap {
    @apply overflow-x-scroll -mx-7.5 lg:mx-0 px-7.5 lg:px-0;
  }

  .table-block tbody tr td:first-child div {
    @apply mb-6;
  }
}

