@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .text-20-light {
    @apply font-light text-p-md;
  }
  .text-16-light {
    @apply font-light text-p-base;
  }

  .text-20 {
    @apply font-normal text-p-md;
  }
  .text-16 {
    @apply font-normal text-p-base;
  }

  .text-20-medium {
    @apply font-medium text-p-md;
  }
  .text-16-medium {
    @apply font-medium text-p-base;
  }

  .text-20-semibold {
    @apply font-semibold text-p-md;
  }
  .text-16-semibold {
    @apply font-semibold text-p-base;
  }

  .text-20-bold {
    @apply font-bold text-p-md;
  }
  .text-16-bold {
    @apply font-bold text-p-base;
  }

  .text-btn-lg-light {
    @apply font-light text-btn-lg;
  }
  .text-btn-light {
    @apply font-light text-btn-base;
  }

  .text-btn-lg-normal {
    @apply font-normal text-btn-lg;
  }
  .text-btn-normal {
    @apply font-normal text-btn-base;
  }

  .text-btn-lg-medium {
    @apply font-medium text-btn-lg;
  }
  .text-btn-medium {
    @apply font-medium text-btn-base;
  }

  .text-btn-lg-medium {
    @apply font-medium text-btn-lg;
  }
  .text-btn-medium {
    @apply font-medium text-btn-base;
  }

  .text-btn-lg {
    @apply font-semibold text-btn-lg;
  }
  .text-btn {
    @apply font-semibold text-btn-base;
  }

  .text-btn-lg-bold {
    @apply font-bold text-btn-lg;
  }
  .text-btn-bold {
    @apply font-bold text-btn-base;
  }

  .text-h1-lg-light {
    @apply text-h-2xl lg:text-h-3xl font-light;
  }

  .text-h1-light {
    @apply text-h-xl lg:text-h-2xl font-light;
  }

  .text-h2-light {
    @apply text-h-lg lg:text-h-xl font-light;
  }

  .text-h3-light {
    @apply text-h-md lg:text-h-lg font-light;
  }

  .text-h4-light {
    @apply text-h-base lg:text-h-md font-light;
  }

  .text-h5-light {
    @apply text-h-sm lg:text-h-base font-light;
  }

  .text-h6-light {
    @apply text-h-sm font-light;
  }

  .text-h1-lg-normal {
    @apply text-h-2xl lg:text-h-3xl font-normal;
  }

  .text-h1-normal {
    @apply text-h-xl lg:text-h-2xl font-normal;
  }

  .text-h2-normal {
    @apply text-h-lg lg:text-h-xl font-normal;
  }

  .text-h3-normal {
    @apply text-h-md lg:text-h-lg font-normal;
  }

  .text-h4-normal {
    @apply text-h-base lg:text-h-md font-normal;
  }

  .text-h5-normal {
    @apply text-h-sm lg:text-h-base font-normal;
  }

  .text-h6-normal {
    @apply text-h-sm font-normal;
  }

  .text-h1-lg-medium {
    @apply text-h-2xl lg:text-h-3xl font-medium;
  }

  .text-h1-medium {
    @apply text-h-xl lg:text-h-2xl font-medium;
  }

  .text-h2-medium {
    @apply text-h-lg lg:text-h-xl font-medium;
  }

  .text-h3-medium {
    @apply text-h-md lg:text-h-lg font-medium;
  }

  .text-h4-medium {
    @apply text-h-base lg:text-h-md font-medium;
  }

  .text-h5-medium {
    @apply text-h-sm lg:text-h-base font-medium;
  }

  .text-h6-medium {
    @apply text-h-sm font-medium;
  }

  .text-h1-lg {
    @apply text-h-2xl lg:text-h-3xl font-semibold;
  }

  .text-h1 {
    @apply text-h-xl lg:text-h-2xl font-semibold;
  }

  .text-h2 {
    @apply text-h-lg lg:text-h-xl font-semibold;
  }

  .text-h3 {
    @apply text-h-md lg:text-h-lg font-semibold;
  }

  .text-h4 {
    @apply text-h-base lg:text-h-md font-semibold;
  }

  .text-h5 {
    @apply text-h-sm lg:text-h-base font-semibold;
  }

  .text-h6 {
    @apply text-h-sm font-semibold;
  }

  .text-h1-lg-bold {
    @apply text-h-2xl lg:text-h-3xl font-bold;
  }

  .text-h1-bold {
    @apply text-h-xl lg:text-h-2xl font-bold;
  }

  .text-h2-bold {
    @apply text-h-lg lg:text-h-xl font-bold;
  }

  .text-h3-bold {
    @apply text-h-md lg:text-h-lg font-bold;
  }

  .text-h4-bold {
    @apply text-h-base lg:text-h-md font-bold;
  }

  .text-h5-bold {
    @apply text-h-sm lg:text-h-base font-bold;
  }

  .text-h6-bold {
    @apply text-h-sm font-bold;
  }

  .text-p1-light {
    @apply font-light text-p-base lg:text-p-md;
  }

  .text-p2-light {
    @apply font-light text-p-base;
  }

  .text-p3-light {
    @apply font-light text-p-sm;
  }

  .text-p4-light {
    @apply font-light text-p-xs;
  }

  .text-p1 {
    @apply font-normal text-p-base lg:text-p-md;
  }

  .text-p2 {
    @apply font-normal text-p-base;
  }

  .text-p3 {
    @apply font-normal text-p-sm;
  }

  .text-p4 {
    @apply font-normal text-p-xs;
  }

  .text-p1-medium {
    @apply font-medium text-p-base lg:text-p-md;
  }

  .text-p2-medium {
    @apply font-medium text-p-base;
  }

  .text-p3-medium {
    @apply font-medium text-p-sm;
  }

  .text-p4-medium {
    @apply font-medium text-p-xs;
  }

  .text-p1-semibold {
    @apply font-semibold text-p-base lg:text-p-md;
  }

  .text-p2-semibold {
    @apply font-semibold text-p-base;
  }

  .text-p3-semibold {
    @apply font-semibold text-p-sm;
  }

  .text-p4-semibold {
    @apply font-semibold text-p-xs;
  }

  .text-p1-bold {
    @apply font-bold text-p-base lg:text-p-md;
  }

  .text-p2-bold {
    @apply font-bold text-p-base;
  }

  .text-p3-bold {
    @apply font-bold text-p-sm;
  }

  .text-p4-bold {
    @apply font-bold text-p-xs;
  }
}
