.gitignore
.git/
.dockerignore
*Dockerfile*
dist
node_modules
npm.debug.log
.env
.env.local
.env.development
.env.production
.env.development.local
misc
.idea
.nvmrc
.tmp/
.cache/
build/
data/
.next/
# kustomize files
kubernetes/
# bratiska-cli manifest files
manifest-*.y?ml
# markdown files
**/*.md
