# To start developing, copy this into .env.local
HOST=0.0.0.0
PORT=1337
STRAPI_URL=http://localhost:1337

APP_KEYS=VivFhCHdok6Ui4H1yhF8DA==,fkXjik+gn+fRLqatGAE8QQ==,M8eRp3VNi4dzdfHOTBlT7w==,PODWh8urxrSZKWXWxiEV3w==
API_TOKEN_SALT=ilrHJDUcrKxGMpxyBh32VA==
ADMIN_JWT_SECRET=odOY9wudFDnl//bE+nVWAQ==
JWT_SECRET=U4RUqp1ohkwtt6gRopMtdg==
STRAPI_PLUGIN_I18N_INIT_LOCALE_CODE=sk

# Must match REVALIDATE_SECRET_TOKEN in next/.env.local
REVALIDATE_SECRET_TOKEN=<see-readme>
REVALIDATE_NEXT_URL=http://localhost:3000

# Meilisearch — use "Default Admin API Key", see the Meilisearch section in the root README.md
MEILISEARCH_HOST=http://localhost:7700
MEILISEARCH_ADMIN_API_KEY=<see-readme>

MAILGUN_API_KEY=<contact-PM-if-needed>
MAILGUN_DOMAIN=no-reply-strapi.bratislava.sk
MAILGUN_EMAIL=info@no-reply-strapi.bratislava.sk

# Credentials of the postgres container from docker-compose.yml in the root of the repository
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=password
DATABASE_SCHEMA=public
