@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'colors.css';

/* Docs: https://tailwindcss.com/docs/functions-and-directives */

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }
}

@layer components {
  .text-h1-lg {
    @apply text-h-xl lg:text-h-3xl;
  }

  .text-h1 {
    @apply text-h-lg lg:text-h-2xl;
  }

  .text-h2 {
    @apply text-h-md lg:text-h-xl;
  }

  .text-h3 {
    @apply text-h-base lg:text-h-lg;
  }

  .text-h4 {
    @apply text-h-sm lg:text-h-md;
  }

  .text-h5 {
    @apply text-h-xs lg:text-h-base;
  }

  .text-h6 {
    @apply text-h-xs;
  }

  .text-p1 {
    @apply text-p-base lg:text-p-md;
  }

  .text-p2 {
    @apply text-p-base;
  }

  .text-p3 {
    @apply text-p-sm;
  }

  .text-p4 {
    @apply text-p-xs;
  }

  .text-20 {
    @apply text-p-md;
  }

  .text-16 {
    @apply text-p-base;
  }

  .numerical-list ul {
    @apply flex flex-col;
  }

  .numerical-list ul li::before {
    @apply -ml-12 mr-6 h-4 w-4 rounded-full bg-category-600 lg:ml-6;
    content: '';
    min-width: 16px;
  }

  .numerical-list ul li {
    @apply flex items-center py-4;
  }

  .numerical-list-hidden ul li {
    @apply hidden;
  }

  .modal-close-mobile-right {
    right: 45%;
  }

  .modal-content-rent::-webkit-scrollbar {
    display: none;
  }

  .modal-content-rent {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .rent-shadow {
    boxshadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
  }

  .modal-content-rent-markdown ul {
    @apply my-6 list-disc pl-12;
  }

  .modal-content-rent-markdown ol {
    @apply my-6 list-decimal pl-12;
  }

  .modal-content-rent-markdown p {
    @apply mb-4;
  }

  .modal-content-rent-markdown h1,
  .modal-content-rent-markdown h2,
  .modal-content-rent-markdown h3,
  .modal-content-rent-markdown h4,
  .modal-content-rent-markdown h5,
  .modal-content-rent-markdown h6 {
    @apply my-6 font-bold;
  }

  .modal-content-rent-markdown h1 {
    font-size: 2rem;
  }

  .modal-content-rent-markdown h2 {
    font-size: 1.5rem;
  }

  .modal-content-rent-markdown h3 {
    font-size: 1.17rem;
  }

  .modal-content-rent-markdown h4 {
    font-size: 1rem;
  }

  .modal-content-rent-markdown h5 {
    font-size: 0.83rem;
  }

  .modal-content-rent-markdown h6 {
    font-size: 0.67rem;
  }

  .box-none {
    @apply shadow-none md:shadow-lg;
  }

  .org-structure-list-circle {
    @apply h-6 w-6 rounded-full;
    min-width: 24px;
  }

  .listitem .typography-regular {
    @apply text-p-sm lg:text-p-base;
  }

  .text-title-center h1,
  .text-title-center h2,
  .text-title-center h3,
  .text-title-center h4,
  .text-title-center h5,
  .text-title-center h6 {
    @apply mb-6 text-center;
  }

  .inner-list .inner-list .rounded-full {
    @apply bg-transparent;
  }

  button[data-state='open'] > svg {
    display: block;
  }

  button[data-state='closed'] > svg {
    display: none;
  }

  .closebutton .ml-5 {
    margin-left: 0 !important;
  }

  .iconBackground .rounded-full {
    @apply bg-white !important;
  }

  .modal-content-rent-markdown a {
    @apply font-bold underline;
  }

  /* input type number control remove */
  .number-control-none::-webkit-outer-spin-button,
  .number-control-none::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .number-control-none {
    -moz-appearance: textfield;
  }
}

/* width */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply rounded-2xl bg-transparent;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

body {
  -webkit-font-smoothing: antialiased;
  color: rgb(var(--font-color));
}

.base-input {
  @apply box-border inline-block h-14 appearance-none rounded-10 border-3 px-6 py-0 font-medium text-font;
  @apply border-white bg-white hover:border-category-600 focus:border-category-600 focus:outline-none;
}

.base-input--with-error {
  @apply border-error;
}

.base-input--disabled {
  @apply bg-gray-100;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.w-fit-title::before {
  @apply invisible block h-0 overflow-hidden font-bold;
  content: attr(title);
}

/* Move safari key icon to the left for fields with type password */
/*noinspection CssInvalidPseudoSelector*/
input[type='password']::-webkit-credentials-auto-fill-button {
  @apply mr-8;
}

/* Move safari 'Strong password' to the left for fields with type password */
/*noinspection CssInvalidPseudoSelector*/
input[type='password']::-webkit-strong-password-auto-fill-button {
  @apply mr-8 pb-2;
}

/* Remove arrows from input type='number' */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-group label.control-label {
  display: none;
}

/* styles for chatbot START */
.webchat {
  position: fixed;
  height: 70%;
  width: min(40%, 380px);
  bottom: 96px;
  left: 24px;
  border-radius: 8px;
  display: none;
  overflow: hidden;
  border: solid 2px RGB(51, 51, 51, 0.5);
  z-index: 9999;
}

.webchat__imageAvatar__image img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.webchat__bubble__content {
  border-radius: 20px !important;
}

@media (max-width: 768px) {
  .webchat {
    width: 100%;
    height: calc(100% - 88px);
    left: 0;
    border-radius: 0;
  }
}

/* styles for chatbot END*/

/* styles for vertical timeline START */
@media (max-width: 1170px) {
  .vertical-timeline-element.vertical-timeline-element--with-image {
    margin-top: 300px;
  }
}

/* styles for vertical timeline END */
